/* Part of (hopefully temporary) handling of the keyboard focus ring. Using a bunch of hard
 * coded values which line up with Adwaita as of v1.4.
 * */
window .sidebar-pane listview row.focused {
  outline-color: color-mix(in srgb, var(--accent-color) 80%, transparent);
}

/* Header bar outlines */
:root {
  --headerbar-darker-still-shade-colour: var(--headerbar-border-color);
}
#EditorTopBarRevealer {
  box-shadow: 0 1px var(--headerbar-darker-still-shade-colour);
}
#EditorBottomBarRevealer {
  box-shadow: 0 -1px var(--headerbar-darker-still-shade-colour);
}
